
.header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    height: 100%;
    background-color: #0B6E98;
    color: #FFF;
}
.header .panel {
    border-radius: 0;
    margin-bottom: 0;
    border: 0 none;
    background-color: inherit;
}
.header .panel-default>.panel-heading {
    background-color: inherit;
    color: inherit;
    font-size: 20px;
}

.header .panel-default>.panel-heading a {
    color: inherit;
}
.rate-section {
    margin-top: 20px;
}
.rate-box .panel {
    border-radius: 0;
}
.rate-box .panel>.panel-heading{
    border-radius: 0;
    color: #FFF;
    background-color: #0B6E98;
}
.fa-star {
    color: #F9E658;
    font-size: 25px;
    vertical-align: sub;
}

.main-section {
    position: fixed;
    left: 300px;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    background: #fff;
}

.main-section-closed {
    left: 0;
}

.main-section-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    color: #0B6E98;
    background: #F0F0F0;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}
.main-section-header a {
    position: absolute;
    top: 0;
    left: 0;
    padding: 11px;
    color: #FFF;
    background-color: #0B6E98;
    font-size: 20px;
    border-radius: 0 5px 5px 0; 
    bottom: 0;
    width: 40px;
}
.main-section-header h3 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 12px;
} 
.main-section-header.close-header h3 {
    left: 40px;
}

.main-section-body {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.video-section {
    margin-top: 20px;
}

iframe {
    width: 100%;
}

.checkbox, .radio {
    padding: 10px;
}

.toggle-out {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #eaeaea;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}
circle {
    fill: #111;
}
.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}